/* -----> Register Container <----- */
.Register-container {
    min-height: 100vh;
    background-image: url("../../shared/images/register.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Register-container main {
    display: flex;
    justify-content: end;
}
.Register-container section {
    height: 100vh;
    width: 620px;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.Register-container h1 {
    font-size: 35px;
    margin-bottom: 60px;
    color: #fff;
}

/* -----> Register Input <----- */
.Register-container input {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #999; 
}
.Register-container input::placeholder {
    color: #fff;
}
.Register-container input:-webkit-autofill,
.Register-container input:-webkit-autofill:hover, 
.Register-container input:-webkit-autofill:focus, 
.Register-container input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #999 inset !important;
    -webkit-text-fill-color: #fff !important
}
.Register-container button {
    cursor: pointer;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
    color: #fff;
    background-color: #391a1a;
}
.Register-container button:hover {
    background-color: #7e3030;
}
.Register-container span {
    text-align: center;
    margin-top: 30px;
    color: #d3d3d3;
}
.Register-container a {
    font-size: 17px;
    font-weight: bolder;
    transition: 0.3s;
    color: #4d99fc;
}
.Register-container a:hover {
    color: #73bbff;
}
.Register-container div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
}

/* -----> Register Icons <----- */
.Register-container svg {
    cursor: pointer;
    transition: 0.3s;
    color: #391a1a;
}
.Register-container svg:hover {
    color: #7e3030;
}

/* -----> Register Media Query <----- */
@media (max-width: 1080px) {
    .Register-container main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Register-container section {
        height: 95vh;
        width: 90%;
        padding: 0 35px;
    }
    .Register-container input {
        width: 100%;
        height: 50px;
        padding: 0 28px;
        font-size: 16px;
    }
    .Register-container button {
        cursor: pointer;
        width: 100%;
        height: 50px;   
        font-size: 16px;
    }
    .Register-container span {
        font-size: 14px;
    }
    .Register-container a {
        font-size: 16px;
    }
}