/* -----> RecoverPassword Container <----- */
.RecoverPassword-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

/* -----> RecoverPassword content <----- */
.RecoverPassword-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
    margin: 20px;
    border-radius: 11px;
    background-color: #222;
}
.RecoverPassword-container div h2 {
    margin-bottom: 20px;
    color: #ececec;
}
.RecoverPassword-container div p {
    margin-bottom: 15px;
    color: #ddd;
}
.RecoverPassword-container > div > input {
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}
.RecoverPassword-send-button {
    cursor: pointer;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    color: #f7f7f7;
    background-color: #007bff;
}
.RecoverPassword-send-button:hover {
    background-color: #1769D9;
}

/* -----> RecoverPassword Check Code Container <----- */
.RecoverPassword-container h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #f7f7f7;
}
.RecoverPassword-code-input {
    text-align: center;
}
.RecoverPassword-resend-code-button {
    cursor: pointer;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    transition: color 0.3s;
    color: #007bff;
    background: none;
}
.RecoverPassword-resend-code-button:hover {
    color: #1769D9;
}
