/* -----> RecoverPassword header <----- */
.PasswordHeader-header {
    height: 100px;
    padding: 0 5%;
}
.PasswordHeader-header a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.PasswordHeader-header img {
    height: 60px;
}
.PasswordHeader-header h1 {
    color: #f7f7f7;
}